/* HEADER */
header{
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header #logo{
  width: 80px;
  height: 60px;
  background-color: rgba(0, 0, 0, .2);
  border: solid 2px rgb(44, 44, 91);
  z-index: 2;
  margin-left: 25px;
  margin-top: 10px;
}

header .header-top{
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-height: 234px;
}

header .menu .hamburger{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.4em;
  height: 2.4em;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 5px;
  margin-right: 25px;
  margin-top: 10px;
  cursor: pointer;
}

header .menu .hamburger .lines {
  width: 1.6em;
  height: 2px;
  background-color: blue;
  margin: 3px 0;
}

header .menu nav{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  top: 0;
  left: 0;
  max-width: 62.5em;
  font-size: 1em;
  text-align: right;
  transform: translateX(100%);
  transform-origin: right;
  transition: transform 200ms ease-out;
  background-color: rgba(110, 110, 110, 0.98);
  line-height: 50px;
}

nav .hamburger-2 {
  position: relative;
  width: 2.4em;
  height: 2.4em;
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  margin-right: 2.5rem;
  margin-top: 10px;
  cursor: pointer;
}

nav .hamburger-2 .top-line {
  position: absolute;
  width: 1.6em;
  height: 2px;
  background-color: blue;
  top: 50%;
  left: .4em;
  transform: rotate(45deg);
}

nav .hamburger-2 .bottom-line{
  position: absolute;
  width: 1.6em;
  height: 2px;
  background-color: blue;
  top: 50%;
  left: .4em;
  transform: rotate(-45deg);
}

nav ul{
  position: relative;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100vh;
  padding: 6rem 4rem 0 0;
}

nav li{
  display: inline-block;
  padding: 0;
  color: #ddd;
}

nav a{
  text-decoration: none;
  color: #ddd;
  margin: 0 2em;
}

nav a:hover{
  color: #ddd;
  text-decoration: underline;
}

/* MAIN */
/* ROWS */
#row1, #row2{
  display: flex;
  padding: 10px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* ROW 1 */
#row1 .left-column, #row2 .right-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#row1 .left-column, #row2 .right-column{
  text-align: justify;
}

/* ROW 2 */
#row2{
  background-color: #999999;
}

/* ROW 3 */
#row3{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 26px;
}

#row3 .color01{
  text-align: justify;
  font-size: 1em;
}

.left-column, .right-column{
  width: 48%;
  flex: 1 0 15em;
  padding: 1em;
  width: 48%;
}

h2{
  margin: 10px 0;
  font-size: 1.4em;
  font-family: 'Kaushan Script', Arial, sans-serif;
  color: #2c2c5b;
}

/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #999999;
}

footer div:first-child {
  display: flex;
  width: 60%;
  justify-content: center;
}

footer div:first-child a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 24px;
  height: 24px;
}

footer div:first-child a .icons {
  width: 24px;
}

footer div:nth-child(2) p{
  margin: 1em;
  font-size: .8em;
}

footer div:nth-child(2) p a {
  color: #2c2c5b;
}

footer div:nth-child(2) p a:hover{
  text-decoration: none;
}